{% extends 'mainapp/base.html' %}
{% load static %}
	{%block title%}
	<div class="text-slider">
		<h3 class="green">тенденции {{ date_now|date:"Y" }}</h3>
		<h3 class="big"> удобные стулья</h3>
		<p>Новый уровень комфорта в {%now "Y"%}. Отличные характеристики.</p>
		<a href="#" class="button-order">заказать <img src="{% static 'img/arrow.png' %}" alt=""></a>
	</div>
	<div class="navi">
		<a href="#"></a><a href="#"></a><a href="#"></a>
	</div>
	{% endblock %}

{% block 'content' %}
	<div class="featured">
		<div class="featured-menu">
		{% if products.has_previous %}
			<a class="active" href="{% url 'index:page' products.previous_page_number %}"
			>назад  <img src="{% static 'img/arrow.png' %}" alt=""> </a>
		{% endif %}
		{% if products.has_next %}
			<a class="active" href="{% url 'index:page' products.next_page_number %}"
			>вперед  <img src="{% static 'img/arrow.png' %}" alt=""> </a>
		{% endif %}
		</div>

		<div class="clearfix">
		</div>
		<div class="tab-content">
			{% for item in products %}
			<div class="block">
				<a href="{% url 'products:product' item.id %}"><img src="/media/{{ item.image }}" class="block" alt="">
					<div class="text">
						<img src="{% static 'img/icon-hover.png' %}" alt="">
						<h3>{{ item.category.name }}</h3>
						<h4>{{ item.name }}</h4>
						<p>{{ item.description }}</p>
					</div>
				</a>
			</div>
			{% endfor %}
		</div>
	</div>

<div class="clr">

</div>
{% endblock %}